{% extends 'layouts/main.html' %}

{% block title %}Profile{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}
<!-- flex css -->
<style>
.flex-container {
  display: flex;
  background-color: White;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}
</style>
<!-- //flex css -->
<!-- Profile side bar -->
<div class="row">

  <div class="col-md-3">

    <img class="img-thumbnail" src="//placehold.it/200x200" width="200" height="200" alt="">

    <h5>Logged in as <i>{{ session['email'] }}</i> </h5>

  </div> <!-- col-md-3 -->
<!-- //Profile side bar -->

<div class="col-md-6">
  <h2>Papers for Scrutiny</h2>
  <form action = "{{ url_for('narrow_down') }}" method = "POST" >
         Category:
         <select name="select-domain" >
           <option value="all" selected>All</option>
           <option value="electronics" {% if request.form['select-domain']=='electronics' %}selected{% endif %}>Electronics</option>
           <option value="ceramics"{% if request.form['select-domain']=='ceramics' %}selected{% endif %}>Ceramics</option>
           <option value="energy"{% if request.form['select-domain']=='energy' %}selected{% endif %}>Energy</option>
           <option value="nanomaterials"{% if request.form['select-domain']=='nanomaterials' %}selected{% endif %}>Nanomaterials</option>
         </select>
         <input type=submit>
</form>
         <br>         <!-- CSS Flexbox type feed -->
         <div class="flex-container">
      {% for file in files %}
          <div>
           <strong>Title</strong>: {{ file['title'] }}<br>
           <strong>Publisher Mail</strong>: {{ file['user_email'] }}<br>
            <a href="https://s3.amazonaws.com/zappa-jepozm5pw/{{ file['filename'] }}"><i class="fa fa-download"></i></a><br>
            <a href="{{ url_for('paper_editor',title=file['title']) }}">Send to Editor for Final Review</a><br><br>
            <a href="{{ url_for('paper_revision',title=file['title']) }}">Request Review</a><br><br>
         </div>
      {% endfor %}
        </div>
        </div>
{% endblock %}
