{% extends 'layouts/main.html' %}

{% block title %}Profile{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}
<!-- flex css -->
<style>
.flex-container {
  display: flex;
  background-color: White;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
}
</style>
<!-- //flex css -->
<!-- Profile side bar -->
<div class="row">

  <div class="col-md-3">

    <img class="img-thumbnail" src="//placehold.it/200x200" width="200" heigh="200" alt="">

    <h5>Logged in as <i>{{ session['email'] }}</i> </h5>

  </div> <!-- col-md-3 -->
<!-- //Profile side bar -->

<div class="col-md-9">
  <h2> Journals for Peer Review</h2>
  <form name="select-domain" action = "{{ url_for('narrow_down_peer_review') }}" method = "POST" >
         Category:
         <select name="select-domain" >
           <option value="all">All</option>
           <option value="electronics" {% if request.form['select-domain']=="electronics" %} selected {% endif %}>Electronics</option>
           <option value="ceramics"{% if request.form['select-domain']=="ceramics" %} selected {% endif %}>Ceramics</option>
           <option value="energy"{% if request.form['select-domain']=="energy" %} selected {% endif %}>Energy</option>
           <option value="nanomaterials"{% if request.form['select-domain']=="nanomaterials" %} selected {% endif %}>Nanomaterials</option>
         </select>
         <button type="submit">Filter</button>
</form>
         <br>
         <!-- CSS Flexbox type feed -->

         <div class="flex-container">
        {% for file in files %}
          <div>
           <strong>Title</strong>: {{ file['title'] }}<br>
           <strong>Publisher Mail</strong>: {{ file['user_email'] }}<br>
           <strong>Domain</strong>: {{ file['domain'] }}<br>
           <a href="https://s3.amazonaws.com/zappa-jepozm5pw/{{ file['filename'] }}"><i class="fa fa-download"></i></a><br>
         </div>
        {% endfor %}
        </div>


           <!-- //CSS Flexbox type feed -->
        <div class="flex-container">
          <div>
            <h3>Grammatical and Relevance Issue Form(G&R check)</h3>
          <form action="{{ url_for('paper_error_submit') }}" method=POST>
            Publisher Mail: <input type = "text" name ="Email"><br><br>
            Paper Title: <input type="text" name="paper-title"><br><br>
            Error Title: <input type = "text" name="Title"/><br><br>
            Detailed Description of Error: <input type = "text" name="Detailed Description"><br><br>
            <button type=submit>Confirm G&R check</button>
            </form>
         </div>
        </div>
      <br>
      <!-- col md-9 -->
</div>
{% endblock %}
